$primary-color: #334f70;
$secondary-color: #a6c4e0;

:root {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.87);
    background-color: #eaf1f7;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.input-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: #c5d7ed;

    @media (max-width: 768px) {
        border-radius: 0;
    }
}

.input {
    flex-grow: 1;
    text-align: center;
    color: $primary-color;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.button {
    flex-grow: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, $secondary-color, $primary-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.increment-button {
    @extend .button;
    background: linear-gradient(to right, $secondary-color, $primary-color);
}

.decrement-button {
    @extend .button;
    background: linear-gradient(to right, $primary-color, $secondary-color);
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
